<%= sidebar_section_for(t('.title'), 'categories') do %>
   <div class="sub-item">
     <% @tags.each do |tag| %>
         <%= link_to tag_url(tag) do %>
             <%= tag.name %> <span><%= tag.frequency %></span>
         <% end %>
     <% end %>
   </div>
 <% end %>