<%= sidebar_section_for(t('.title'), 'latest-posts') do  %>
    <div class="sub-item">
      <% @recent_posts.each do |post| %>
          <%= link_to post.title, post.full_url %>
      <% end %>
    </div>
<% end %>