<% provide(:title, 'About') %>

<div class="row">
  <div class="col-md-6 my-char-image">
    <%= render 'layouts/my_char_image' %>
  </div>
  <div class="col-md-6 personal-info">
    <h4>Hello, I'm <%=link_to 'Yang Song', user_path(User.find_by_email 'yangsongfwd@163.com')%>, Welcome to my personal home page.</h4>
    <br>
    <table>
      <tr>
        <th><h4>Email</h4></th>
        <td><h4><a href="mailto:yangsongfwd@163.com">yangsongfwd@163.com</a></h4></td>
      </tr>
      <tr>
        <th><h4>WeiBo</h4></th>
        <td><h4><a href="http://weibo.com/borrowedstory">BorrowedStory</a></h4></td>
      </tr>
      <tr>
        <th><h4>QQ</h4></th>
        <td><h4><a href="tencent://message/?uin=1377047602&Site=&Menu=yes">1377047602</a></h4></td>
      </tr>
      <% if logged_in? %>
          <tr>
            <th><h4>Tel</h4></th>
            <td><h4>18666903921</h4></td>
          </tr>
      <% end %>
    </table>
  </div>
</div>