<% provide(:title, 'About') %>

<div class="row">
  <div class="col-md-6" id="my-char-image">
    <%= render 'layouts/my_char_image' %>
  </div>
  <div class="col-md-6 personal-info">
    <h4>Hello, I'm Yang Song, Welcome to my personal home page.</h4>
    <br>
    <h4>Email: <a href="mailto:yangsongfwd@163.com">yangsongfwd@163.com</a></h4>
    <br>
    <h4>QQ: <a href="tencent://message/?uin=1377047602&Site=&Menu=yes">1377047602</a></h4>
    <br>
    <% if logged_in? %>
        <h4>Tel: 18666903921</h4>
    <% end %>
  </div>
</div>