<% provide(:title, 'Home') %>
<% if logged_in? %>
    <div class="row">
      <aside class="col-md-4">
        <section class="user_info">
          <%= render 'shared/user_info' %>
        </section>
        <section class="micropost_form">
          <%= render 'shared/micropost_from' %>
        </section>
      </aside>
      <div class="col-md-8">
        <h3>Micropost Feed</h3>
        <%= render 'shared/feed' %>
      </div>
    </div>
<% else %>
    <div class="center jumbotron">
      <h1>Welcome to the INiMei</h1>

      <h2>
        This is Yang Song's personal home page, and just for learning website development.</h2>

      <%= link_to 'Sign Up', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>

    <!-- %= link_to image_tag('logo.png', alt: 'INiMei Logo'), 'http://rubyonrails.org' % --!>
<% end %>