<% provide(:title, 'Schedules') %>

<div class="row">
  <aside class="col-md-4">
    <!-- section class="user_info">
      < %= render 'shared/user_info' %>
    </section-->
    <section class="calendar-view">
      <%= render 'shared/calendar' %>
    </section>
  </aside>
  <div class="col-md-8">
    <h3>Schedules</h3>
    <%= render 'user_schedules' %>
  </div>
</div>

<%= render('shared/create_schedule_dlg') %>

