
@mixin blog_shadow {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

@mixin  blog_border {
/*  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;*/
}

body {
  background-color: #dfdfe1;
}

/* general */

a {
  text-decoration: none;
}

a:hover {
  color: #b06408;
}

ul {
  list-style: square;
  margin-left: 30px;
}

/* header */
.main-header{
  margin: 30px 0 30px 0;
  background-color: white;

  @include blog_shadow;
  @include blog_border;

  .blog-head-info {
    margin: 30px 0 0 30px;
    .avatar {
      float: left;
      margin-right: 10px;
    }

    h1 a {
      color: #4c4c4c;
    }
    h2 {
      font-size: 25px;
      color: #747474;
    }
  }

  .social:first-of-type i {
    float:right;
    padding: 20px 0 0 0;
    font-size: 50px;
    text-decoration: none;
  }

  .social {
    float: right;
    margin: 0 2px 0 2px;
  }

  a.social {
    text-decoration: none;
  }

  .social i {
    font-size: 30px;
  }

  .social {
    .social-img {
      height: 50px;
      width: 50px;
      padding-top: 5px;

      filter:alpha(opacity=50);
      -moz-opacity: 0.5;
      -khtml-opacity: 0.5;
      opacity: 0.5;
    }
  }
}


.post-header span:after{
    content: "|";
}

.post-header span:last-child:after {
    content: "";
}
/* pagination */

#pagination {
  margin: 20px 0 0 0;
  //border-top: 3px solid #000;
  font-size: 20px;
}

#pagination .older_posts {
  float: left;
}

#pagination .newer_posts {
  float: right;
}

/* content */

.prev-blog , article {
  h2, h3, h4, h5, h6 {
    //font-size: 16px;
    //text-transform: uppercase;
    //font-weight: bold;
  }

  background-color: white;
  margin-bottom: 10px;

  @include blog_shadow;
  @include blog_border;



  header {
    border-bottom: 1px solid #c6c6c6;
    padding: 10px 40px;
    font-size: 22px;
    font-weight: bold;

    h1 {
      font-size: 32px;
      font-weight: bold;
      margin-bottom: 0px;
      a {
        text-decoration: none;
      }
    }

    .posted {
      font-size: 11px;
      font-weight: bold;
      margin-bottom: 0px;
      color: #838685;

      span {
        font-weight: bold;
      }
    }
  }

  .content {
    padding: 20px 40px;
  }


  /* tags */
  .tags {
    background: #f3f3f3;
    border-top: 1px solid #dddddd;
    margin-top: -10px;
    margin-bottom: 10px;
    padding: 10px 40px;

    .tag {
      display: inline-block;
      width: auto;
      height: 19px;
      overflow: hidden;
      padding: 0 0 0 20px;
      background: url(x.png) no-repeat 0 -130px;
      color: #42413f;
      line-height: 19px;
      font-weight: normal;
      font-size: 12px;
      text-decoration: none;
      cursor: pointer;
      vertical-align: middle;
      margin-right: 8px;

      span {
        display: inline-block;
        width: auto;
        height: 19px;
        overflow: hidden;
        padding: 0 10px 0 0;
        background: url(x.png) no-repeat right -160px;
      }

      &:hover {
        background-position: 0 -190px;
        color: #fff;
        text-decoration: none;

        span {
          background-position: right -220px;
        }
      }
    }
  }

}

.tag-search,
.flash-notice {
    padding:8px 35px 8px 14px;
    margin-bottom:18px;
    text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);
    background-color:#eeeeee;
    border:1px solid #d4d4d4;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
}

.label-size-1 {
    font-size: 80%;
    opacity: .8;
}

.label-size-2 {
    font-size: 90%;
    opacity: .9;
}
.label-size-3 {
    font-size: 100%;
}
.label-size-4 {
    font-size: 130%;
}
.label-size-5 {
    font-size: 160%;
}

/* footer */

.content article footer .social-tagline {
  margin-bottom: 10px;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  line-height: 50px;
  color: #181818;
  font-family: "Georgia", "Times New Roman", "Helvetica", "Arial", "sans-serif";
  display: block;
}

.blog-social-sharing {
  padding: 0 0 0 0;
  border-top: solid black 1px;
}

#social-share {
  /*text-align: center;*/
  width: 100%;
}

#facebook, #twitter, #google-plus {
  display: inline;
  /*margin: 0 40px 0 40px;*/
  /*padding: 0 0 0 0;*/
}

/** archive css **/
.archive ul {
  text-align: left;
  list-style: none;
  padding: 0;
  margin: 0;
}

.archive ul li {
  padding: 0;
  margin: 0 0 0 10px;
  cursor: pointer;
}

.archive ul.js-posts li {
  margin-bottom: 10px;
}

.archive .blog-year:before, .archive .blog-month:before {
  content: "+";
  padding-right: 5px;
}

.archive .blog-year.active:before, .archive .blog-month.active:before {
  content: "-";
}

.inimei-blog {
  font-size: 16px;
  line-height: 1.2;
  p {
    margin-bottom: 5px;
    margin-top: 5px;
  }
}

/* sidebar */

.sidebar {
  background-color: white;

  @include blog_shadow;
  @include blog_border;

  .widget {
    header {
      padding: 8px 35px 0 14px;
      margin: 10px 0 10px 0;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
      background-color: #ededef;
      border: 1px solid #d4d4d4;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
    }

    header:first-child {
      margin-top: 0;
    }

    header h1 {
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 4px;
    }
  }

  .categories, .latest-posts {
    .sub-item {
      font-size: 16px;
      line-height: 16px;
      margin-bottom: 10px;

      a {
        color: #747474;
        display: block;
        border: 1px solid #DDD;
        padding: 6px 8px;
        margin: 0px 7px 5px;
        font-weight: 400;
        overflow: hidden;
        background-color: #F9F9F9;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        box-shadow: inset 0 1px white,0 0 1px rgba(34, 25, 25, .1);
        -moz-box-shadow: inset 0 1px #fff,0 0 1px rgba(34,25,25,.1);
        -webkit-box-shadow: inset 0 1px white,0 0 1px rgba(34, 25, 25, .1);

        span {
          border-left: 1px solid #DDD;
          display: block;
          float: right;
          margin: -5px 0 -5px 5px;
          padding: 6px 5px;
          text-align: center;
          width: 20px;
        }
      }
    }
  }
}

footer {
  margin-top: 20px;
  height: 40px;
  text-align: center;
  span, a {
    margin-top: 20%;
    color: #494949;
  }
}

.blog-top {
  height: 23px;
  line-height: 23px;
  margin: 7px 20px 0 0;
  opacity: 1;
  position: relative;
  -webkit-transition: top 0.3s, opacity 0.8s;

  ul {
    float: right;
    li {
      list-style: none;
      height: 23px;
      line-height: 23px;
      display: inline;
      float: left;
      margin: 0 5px 0 0;
      a {
        height: 23px;
        line-height: 23px;
        float: left;

        padding: 0 5px 0 26px;
        color: white;

        cursor: pointer;
        text-decoration: none;
      }

      .my-home {
        background: url(linkbg.png) no-repeat left -30px;
        &:hover {
          background-position: 0 -60px;
        }
      }

      .new-blog {
        background: url(linkbg.png) no-repeat left -90px;
        &:hover {
          background-position: 0 -120px;
        }
      }
    }
  }
}